#====================
# Maven
#====================
target/**

#====================
# NPM
#====================
node_modules/**

#====================
# Configuration
#====================
config/**

#====================
# Eclipse
#====================
.settings/**
.sts4-cache/**
.project
.classpath
.checkstyle

