#====================================================================================================
#
# Lombok Configuration.
#
#====================================================================================================

# Copy annotations from class attributes to constructor parameters
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
