#====================================================================================================
#
# Lombok Configuration.
#
#====================================================================================================

# Setters return this instead of void.
lombok.accessors.chain = true

# Copy annotations from class attributes to constructor parameters
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
