/*
 * Overrides.
 */
.container {
    margin-bottom: 3rem;
}

.navbar {
    margin-bottom: 3rem;
}

.footer {
    margin-top: 2rem;
}

.jumbotron {
    padding: 3.5rem 2rem 2rem 1.75rem;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #c2e0f4;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: .2rem .25rem;
    font-size: .8rem;
    line-height: .75;
    border-radius: .2rem;
}

.react-overlay-loader-spinner:before {
    border-color: #8eadc3;
    border-top-color: #125c8e;
}

.progress {
    height: 0.95rem;
}

.octicon {
    max-width: 16px;
}

.tooltip {
    pointer-events: none;
}

@media (hover: none) {
    .tooltip {
        display: none;
    }
}

/*
 * Custom Defaults.
 */
table {
    table-layout: fixed;
}

td,
span,
div {
    word-wrap: break-word;
    white-space: pre-wrap;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*
 * Custom Classes.
 */
.logo-col {
    margin-top: 15%;
}

.main-col {
    margin-top: 4%;
}

.view-section {
    margin-top: 3em;
}

.spaced {
    margin: .2rem;
}

.group-spaced>* {
    margin: .2rem;
}

.name-col {
    width: 40%;
}

.values-col {
    width: 60%;
}

.icons-1-col {
    width: 80px;
}

.icons-2-col {
    width: 80px;
}

.icons-3-col {
    width: 120px;
}

@media screen and (max-width: 1279px) {
    .icons-1-col {
        width: 80px;
    }

    .icons-2-col {
        width: 80px;
    }

    .icons-3-col {
        width: 90px;
    }
}

.icons-div {
    display: inline-block;
    text-align: left;
}

.value-icons-div {
    display: inline-block;
    text-align: left;
    width: 120px;
    min-width: 0;
}

.value-div {
    display: inline-block;
    text-align: left;
    width: calc(100% - 120px)
}

@media screen and (max-width: 1279px) {
    .value-icons-div {
        width: 70px;
    }

    .value-div {
        width: calc(100% - 70px)
    }
}

.value-txt {
    color: var(--info);
    margin-top: 5px;
}

.action-icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 30px;
}

.icon-inline {
    margin: 6px 4px;
    width: 20px;
    text-align: center;
}

.badge-progress {
    height: 0.95rem;
    font-size: 0.625rem;
    font-weight: 100;
}

.badge-notification {
    position: absolute;
    display: block;
    top: -.2rem;
    right: -.2rem;
    font-size: 11px;
}
